@font-face {
  font-family: NotoSansKR-Bold;
  src: url("./fonts/NotoSansKR-Bold.otf");
}

@font-face {
  font-family: NotoSansKR-Black;
  src: url("./fonts/NotoSansKR-Black.otf");
}

@font-face {
  font-family: NotoSansKR-Light;
  src: url("./fonts/NotoSansKR-Light.otf");
}

@font-face {
  font-family: NotoSansKR-Medium;
  src: url("./fonts/NotoSansKR-Medium.otf");
}

@font-face {
  font-family: NotoSansKR-Regular;
  src: url("./fonts/NotoSansKR-Regular.otf");
}

@font-face {
  font-family: NotoSansKR-Thin;
  src: url("./fonts/NotoSansKR-Thin.otf");
}